
/* =============================Design for selected Movie details box=============================== */
.selected-moviebox
{
	width:100vw;
    height:max-content;
	background-color: #1a2228;
	display:grid;
    grid-template-columns: 0.6fr max-content auto;
    column-gap: 20px;
    padding:60px 0;
    position: relative;
	font-family:times new roman;	
}
.movie-poster
{
	width:19vw;
	height:55vh;
	border-radius: 9px;
	box-shadow: 7px 7px 8px #4e4b4a;
    justify-self:center;
}
.movie-poster img{
    width:19vw;
	height:55vh;
    grid-row: 1/ span 3;
}
.movie-details
{
  display: flex;
  flex-direction: column;
  gap:15px;
  padding-top: 30px;
}
.like{
    display: flex;
    font-size: 30px;
    gap:10px;
}
.detail{
    font-size:26px;
    color:white;
}
.below-note{
    font-size:19px;
    color:white;
    display: flex;
    align-items: flex-end;
}
.movie_name
{
    color:#FF0080;
	text-transform: capitalize;  
	font-size: 40px;
}
.trailer-box{
    justify-self: center;
    height:315px;
    width:560px;
	box-shadow: 7px 7px 8px #4e4b4a;
}
.book-tickets
{
	width:11rem;
	height:40px;
	color:white;
	background-color: #FF0080;
	border-radius: 9px;
	box-shadow: 0 0 30px #FF0080;
	cursor:pointer;
	font-size:25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:50%;
    margin-left:-5.5rem;
    bottom: 30px;
}




/* ==============================Design for Available cities list for the selected movie========================= */
.citylist{
    width:60%; 
    height:max-content;
    background-color:#F5F5F5;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    left:50%;
    margin-left:-30%;
    top:30px;
    padding: 10px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    display:none;
}
.available-cities{
    font-family:times new roman; 
    font-size: 30px;
    border-bottom:solid #FF0080 3px;
    width:85%;
}
.citiesname{
    display:flex; 
    margin-top:25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:15px;
}
.cityName{
    width:12.5rem; 
    height:2.5rem; 
    border:solid #FF0080 2px;
    border-radius:7px;
    background:#FF0080;
    box-shadow: 0 0 5px #FF0080; 
    color:white;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    padding:0 1rem;
}
#closeCityList{
    margin-top: 0px;
    background-color: transparent;
    font-size: 1.87rem;
    color: hsl(330, 100%, 50%);
    border: none;
    cursor: pointer;
    right:9px;
    position: absolute;
    top:3px;
}
.message{
    display:none;
    margin-top:10px;
    color:red;
    font-size:18px;
}



/* ==============================Design for frame of Date and time selection as per selected movie======================== */
.hall-list
{
	position:absolute;
	width:70%;
    height:max-content;
	background-color:#4e4b4a;
    left:50%;
    margin-left:-35%;
	top:80px;
	display: none;
    z-index:9999999999;
}
.hallListHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.hallListHeader .movieName{
    margin:10px 50px; 
    color:white;
}
#close1
{ 
    margin-right:15px;
	background-color: transparent;
	font-size:30px;
	color:#FF0080;
	border:none;
	cursor: pointer;
}
.dateAndTimeBox{
    width:100%; 
    height:max-content;
    background-color:#E0E0E0;
    display:flex;
    flex-wrap: wrap-reverse;
    padding: 10px 15px;
    align-items: center;
    gap:24px;
}
.select-date
{
	width: 600px;
	padding:10px 0px;
	display: flex;
	/* margin-left: 10px; */
	/* margin-top: 13px; */
    gap:10px;
	overflow: auto;
	cursor: pointer;
    /* border: 1px solid black; */
    scroll-behavior: smooth;

}
.date-for-booking
{
	font-weight: bold;
	min-width:75px;
	height:60px;
	text-align: center;
	border:solid #FF0080 2px;
	border-radius:9px; 
	font-size: 15px;
	/* margin-left: 5px; */
	color:black;
	z-index: 1;
}
.select-date::-webkit-scrollbar{
    display: none;
}
.btn-scroll1
{
	align-items:center;
	font-size:50px;
	cursor:pointer;
	color:#FF0080;
    background-color: #E0E0E0;
	border:none;
    /* margin:0 1rem; */
}
#btn-scroll-right1
{
 font-size: x-large;

}
#btn-scroll-left1
{
 font-size: x-large;
}

/* ==============================Date and time show design================================== */
.date-time-box
{
    min-width:20vw;
	font-family: "sagoe UI",sans-serif;
	/* margin-left:100px; */
	border:solid #FF0080 3px;
	border-radius: 7px;
	background:#FF0080;
	box-shadow: 0 0 30px #FF0080;
}
.date
{
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}
.time
{
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0px;
}




/*=================Media query===================*/

@media (max-width:1245px) {
    .selected-moviebox {
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto auto;
    }
    .trailer-box {
        grid-column:2/3;
        grid-row:1/2;
    }
    .movie-details {
        grid-column: 1/2;
        grid-row:2/3;
    }
    
}















/* .abc
{
	width:100%;
	background-color:#F5F5F5;
	padding: 15px 10px;
	display: inline-flex;
	border-bottom: solid #454545 1px;
}






.select-date:nth-child(3):hover
{
   	background-color: green;
} */
